.movie-app {
    max-width: 1010px;
    background-color: #fff;
    margin: auto;
    width: 100%;
    min-height: 100vh
}

.ant-alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 0 37px 0 37px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 17px 0 17px;
    }
}